{% extends 'base.html.twig' %}

{% block title %}Bienvenue | Accueil{% endblock %}

{% block body %}

    
<div class="container">
    {% for message in app.flashes('success') %}
        <div style="margin-bottom:0;text-align:center;" class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
</div>

{% endblock %}
