{% extends 'base.html.twig' %} {% block title %}Ajouter une salle{% endblock %}
{% block body %}

<div class="container">
  <h1>Ajouter une categorie</h1>
  <a class="btn btn-primary" href="{{ path('category') }}">Retour</a>

  {{ include('category/_form.html.twig') }}
</div>

{% endblock %}
