
{{ form_start(form) }}
  <div class="row">
    <div class="col-md-6">{{ form_row(form.name) }}</div>
    <div class="col-md-6">{{ form_row(form.description) }}</div>
  </div>
  <div class="row">
    <div class="col-md-6">{{ form_row(form.capacity) }}</div>
    <div class="col-md-6">{{ form_row(form.city) }}</div>
  </div>
  <button class="btn btn-primary" type="submit">Valider</button>
  {{ form_end(form) }}
</div>


