{% extends 'base.html.twig' %} {% block title %}Bienvenue | Accueil{% endblock
%} {% block body %}

<div class="container">
  {% for message in app.flashes('success') %}
  <div style="margin-bottom: 0; text-align: center" class="alert alert-success">
    {{ message }}
  </div>
  {% endfor %}
  <h1>Salles</h1>

  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <a type="button" class="btn btn-primary" href="{{ path('room.add') }}"
    >Ajouter une salle</a
  >
  {% endif %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Description</th>
        <th scope="col">Disponibilité</th>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
      <tr>
        <td>{{ room.id }}</td>
        <td>{{ room.name }}</td>
        <td>{{ room.city }}</td>
        <td>
          {{room.description | length > 60 ? room.description | slice (0,60) ~ '...' : room.description}}
        </td>
        <td>{{ room.isAvailable }}</td>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <td>
          <a
            class="btn btn-primary"
            href="{{ path('room.edit', { id: room.id }) }}"
            >Editer</a
          >
          <form
            onsubmit="return confirm('confirmer la suppression')"
            style="display: inline-block"
            method="post"
            action="{{ path('room.delete', { id: room.id }) }}"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <input
              type="hidden"
              name="_token"
              value="{{ csrf_token('delete'~room.id) }}"
            />
            <button class="btn btn-danger">Supprimer</button>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
