{% extends 'base.html.twig' %} {% block title %}Ajouter une salle{% endblock %}
{% block body %}

<div class="container">
  <h1>Ajouter une salle</h1>
  <a class="btn btn-primary" href="{{ path('room') }}">Retour</a>


{{ form_start(form) }}
  <div class="row">
    <div class="col-md-6">{{ form_row(form.name) }}</div>
    <div class="col-md-6">{{ form_row(form.description) }}</div>
  </div>
  <div class="row">
    <div class="col-md-6">{{ form_row(form.capacity) }}</div>
    <div class="col-md-6">{{ form_row(form.city) }}</div>
  </div>
  <button class="btn btn-primary" type="submit">Valider</button>
  {{ form_end(form) }}
</div>



{% for category in categories %}
  <input type="radio" id={{ category.id }} name={{ category.name }} value={{ category.name }}>
  <label for="html">{{ category.name }}</label><br>
{% endfor %}



</div>

{% endblock %}
